/* Responsive Nav */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 99;
  display: none;
}

.dropbtn {
  bottom: none;
  background-color: #fff;
  color: #333;
  padding: 10px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #ddd;
}
.res-nav {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999 !important;
}

.dropdown-content a {
  font-size: 14px;
  color: black;
  padding: 10px 18px;
  text-decoration: none;
  display: block;
  z-index: 999 !important;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.show .get-quote-btn {
  margin: 0;
  color: #fff;
}
.show {
  display: block;
  z-index: 999 !important;
}
.become,
#become {
  margin-left: -10px;
}
@media (max-width: 576px) {
  /* NAV START */
  .navigation {
    margin: 0;
    width: 100%;
    padding: 15px 0 !important;
  }
  .dropbtn {
    display: block;
  }
  .dropdown {
    display: block;
  }

  .logo h2 {
    font-size: 18px;
  }
  .logo-img {
    width: 30px;
  }
  .navigation ul li {
    display: none;
  }
  .nav-get-btn {
    display: none;
  }

  /* SLIDE START */
  #main {
    display: flex;
    flex-direction: column;
    height: auto !important;
    z-index: 999 !important;
  }
  .text-slider {
    margin: 0 !important;
    left: 4% !important;
  }
  .text-slider h2 {
    font-size: 24px;
    margin: 0 !important;
    line-height: 100%;
  }
  .text-slider .get-button {
    width: 100px !important;
    height: 20px !important;
    padding-top: 3px !important;
    margin-top: 0px !important;
    font-size: 6px !important;
    font-weight: 500 !important;
  }
  .slider-btn-fix {
    margin-top: 10px;
  }
  .become {
    margin-left: -10px !important;
  }
  .text-slider-home-made {
    font-size: 14px;
    line-height: 80%;
    margin-bottom: 8px;
  }
  .text-slider-img-div {
    width: 18px;
  }

  /* Sale Start */
  .sale {
    /* display: none; */
    padding: 50px 0;
    position: relative !important;
    /* z-index: -99 !important; */
  }
  .sales-herbal {
    z-index: 1;
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute !important;
    top: -15%;
  }
  .sale-box {
    /* margin-right: 0;
    position: absolute;
    top: 25%;
    transform: translateY(-25%); */
    /* position: static !important; */
    transform: none !important;
    height: 100px;
    width: 100px;
    position: relative !important;
    padding: 0 !important;
    margin: 0;
    display: block;
  }
  .buy {
    position: absolute;
    zoom: -9;
    top: -5px;
    right: -5px;
    /* z-index: 0; */
  }
  .sale-box img {
    z-index: -9;
    position: static;
    transform: none !important;
    width: 60px;
  }
  .sale-text {
    position: static !important;
    transform: none;
    z-index: 9;
    padding: 10px 5px;
  }
  .sale-text strong {
    font-size: 6px !important;
    font-weight: 400 !important;
    z-index: 9;
  }
  .sale-text h1 {
    font-size: 16px !important;
    /* font-weight: 300 !important; */
    margin: 5px 0 !important;
    z-index: 9;
  }
  .sale-text span {
    font-size: 12px !important;
    /* font-weight: 300 !important; */
  }

  .saletext p {
    font-size: 8px !important;
    margin: 5px !important;
  }
  .saletext a {
    font-size: 8px !important;
  }

  /* Online Start */
  .onlin {
    z-index: -1 !important;
  }
  .group967 {
    flex-direction: column-reverse;
    z-index: -1 !important;
  }
  .clasimg {
    margin-top: 10px;
    transform: translateX(30%);
    margin-bottom: -60px !important;
    z-index: -1 !important;
  }
  .imgarea img {
    width: 120px !important;
    z-index: -1 !important;
  }
  .ellipse img {
    width: 220px !important;
    transform: translateX(17%);
    z-index: -1 !important;
  }
  .chf img {
    transform: scale(0.3);
  }
  .chf {
    top: 20%;
    left: 52%;
  }
  .text-class span {
    font-size: 14px;
  }
  .text-class strong {
    font-size: 28px;
    max-width: 80%;
    margin: 5px 0;
  }
  .text-class p {
    font-size: 12px;
    max-width: 98% !important;
  }
  .text-class {
    flex-basis: 0;
    margin-bottom: 30px;
  }

  /* Online-Class Start */
  .section-container {
    flex-direction: column !important;
  }
  .plat {
    margin-bottom: 24px;
  }
  .group-1105 img {
    width: 220px !important;
    transform: translateX(-45%);
  }
  .plat-food img {
    width: 160px !important;
  }
  .plat-food {
    top: 10%;
    left: 35%;
  }
  .food-detail {
    width: auto;
    text-align: center;
    padding: 20px;
    /* max-width: 885px; */
    /* min-height: calc(100px + 10px); */
    border-radius: 20px;
    /* margin-right: 2%; */
    /* padding: 28px 0; */
    /* background-color: #f7f7f7; */
    /* display: flex; */
    gap: 28px !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  .food-icons {
    margin-bottom: 6px;
  }

  /* Our Course Start */
  .inner-boxes {
    flex-direction: column !important;
  }
  .main-box {
    height: auto !important;
    margin-bottom: 40px !important;
  }
  .center-heading {
    padding-top: 32px;
  }
  .center-heading h1 {
    text-align: center;
    font-size: 32px !important;
    padding-bottom: 10px;
  }
  .main-layer {
    height: auto;
    width: auto;
  }
  .content-text {
    font-size: 12px !important;
    margin-bottom: 10px;
  }
  .inner-box {
    width: 320px;
    height: 230px;
    padding: 30px 0;
  }
  .inner-box a img {
    width: 40px !important;
  }
  .inner-box:nth-child(1) a img {
    width: 55px !important;
  }
  .inner-box strong {
    font-size: 22px;
  }
  .inner-box span {
    text-align: center;
    font-size: 13px;
  }
  .our-course {
    display: flex;
    flex-direction: column;
  }
  .education-box {
    flex-direction: column-reverse;
    align-items: start;
  }
  .image-box {
    width: 100% !important;
    display: flex;
    justify-content: end;
  }
  .image-box img {
    max-width: 160px;
  }
  #edu-text {
    width: 100%;
    margin-top: -30px;
    padding: 0 10px;
  }
  .text-pro {
    width: 95%;
    width: auto;
  }
  .text-pro strong {
    font-size: 32px !important;
    width: 80%;
    line-height: 120% !important;
  }
  #edu-text span {
    width: auto !important;
    font-size: 14px;
  }
  .box-area {
    width: auto;
    flex-direction: column;
    left: 0;
    flex-wrap: nowrap !important;
    text-align: center;
  }
  .box-bod {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
  }
  .box-bod p {
    width: auto !important;
    text-align: center;
  }
  .education {
    padding-bottom: 30px;
  }

  /* Gallery Start */
  .gallery h1 {
    font-size: 38px !important;
  }
  .gallery-heading p {
    font-size: 14px !important;
  }
  .gallery-area {
    display: block;
    transform: translateX(2%);
  }
  .left-image {
  }
  .left-image img:nth-child(3) {
    width: 300px !important;
    transform: translate(-10px, -130px) !important;
  }
  .left-image img:nth-child(1) {
    width: 440px !important;
    transform: translateX(-40px) !important;
  }
  .left-image img:nth-child(2) {
    display: none;
  }
  .text-spaght {
    display: block;
  }
  .text-spaght h2 {
    font-style: bold;
    font-size: 38px;
  }

  /* swiper-gallery star */
  .swiper-container-gallery .swiper-wrapper {
    width: 81% !important;
  }
  /* .swiper-container-gallery {
    margin: auto;
    width: 1500px;
  }
  #swp-container .swiper-container-gallery .swiper-slide {
    transform: translateX(50px);
  }
  #swp-container .swiper-container-gallery .swiper-slide img {
    width: 230px;
    height: 230px;
  } */
  /* food start */

  .main-food {
    height: 160px !important;
  }
  .main-food-png {
    display: none !important;
  }
  .live {
    font-size: 12px !important;
    margin-bottom: 6px;
  }
  .live-description {
    display: none;
    /* font-size: 12px !important;
    line-height: 14px ;

    width: auto !important; */
  }
  .food-need {
    font-size: 18px;
  }
  .food-content {
    margin-left: 10px;
    max-width: 200px !important;
  }
  .food-content a {
    padding: 4px 12px !important;
    font-size: 15px;
    width: auto !important;
    height: auto !important;
    font-size: 10px !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
  }
  .video-icon {
    /* width: 100px !important; */
    transform: scale(0.5);
    top: 22%;
    left: 60%;
  }

  .video-player video {
    width: 260px;
    height: 80%;
  }
  .close-button {
    font-size: 12px !important;
    padding: 10px 12px !important;
  }
  .partner {
    padding: 20px 0 !important;
  }
  .partner_text h1 {
    margin: 0 !important;
    font-size: 24px !important;
  }
  .partner_text span {
    font-size: 12px !important;
    padding: 0 !important;
    margin-bottom: 10px;
  }
  .partner-area {
    margin: 0;
    width: 100% !important;
    /* display: block; */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
  /* .partner-img {
    display: flex;
  } */
  .partner-area img {
    max-width: 60px !important;
    max-height: 40px !important;
    /* transform: scale(0.2) !important; */
    margin: 0;
    padding: 0;
  }
  .pc {
    padding: 10px 0 !important;
  }

  /* Team Start */
  .heading-every {
    text-align: center;
  }
  .heading-every h1 {
    font-size: 32px !important;
  }
  .pg {
    font-size: 14px !important;
    padding-top: 14px !important;
    padding-bottom: 50px !important;
  }
  .members-area {
    flex-direction: column !important;
    gap: 80px !important;
    width: auto;
  }
  .team-members {
    padding: 30px 40px !important;
  }
  .memeber-box {
    margin: 0 auto !important;
    width: 220px !important;
  }

  /* bottom-slide */
  .swiper-container-product {
    width: auto !important;
  }
  .merchandise-p {
    text-align: center !important;
    max-width: 90% !important;
    margin: auto;
  }
  /* carts-section */
  .cart-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .question-heading h2 {
    font-size: 32px !;
  }
  .question-container {
    flex-direction: column-reverse;
  }
  .form-container {
    flex-direction: column;
    position: static !important;
    transform: none !important;
    width: 100% !important;
    margin: 0 auto;
    box-shadow: none;
    padding: 20px !important;
  }
  .form-section {
    height: auto !important;
  }
  .footer {
    height: auto !important;
  }
  .contact-info {
    height: auto;
    width: auto;
    min-width: auto;
  }
  .info-item {
    width: auto;
  }
  .contact-info h2 {
    font-size: 28px !important;
  }
  .social-icons-footer {
    top: 50% !important;
  }
  .contact-info h2 {
    font-size: 28px !important;
  }
  .footer-section form {
    width: 300px !important;
    position: relative !important;
  }
  .footer-section button {
    position: absolute !important;
    top: 30%;
    right: 2%;
    transform: translateY(-25%);
  }
  .footer-section input {
    border: none;
    width: 100% !important;
    height: 100% !important;
  }
  .social-icons-footer a {
    height: 20px !important;
    width: 20px !important;
  }
}
